.loading-page{
    text-align: center;
    width: 100%;
    
}

.loading-title{
    font-size: 55px;
    color: #ACD9B2;
    
}

.loading-smile{
    font-size: 55px;
    color: #ACD9B2; 
    
}

.loading-p{
    font-size: 30px;
    animation: move 2s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translateY(30px);
    }
    50%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px);
    }
}